<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>湖北润力润之星移动式柴电搅拌泵车--产品参数</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<link href="../css/parameter.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/myfocus-2.0.4.min.js"></script>
<script type="text/javascript" src="../js/mf-pattern/mF_ladyQ.js"></script>
<link href="../js/mf-pattern/mF_ladyQ.css" type="text/css" />
<script>
 myFocus.set({id:'picBox'})
</script>
<style>
	.par_title{background-color:#1D3367;height:30px;color:white;font-weight:bold;}
	.par_title p{line-height:30px;font-size:24px;}
	#listdetails{padding-top:10px;text-align:center;background-color:#75D5D7;width:100%}
	#par_lineheader{background-color:#C8D1D2;height:40px;font-size:18px;font-family:"微软雅黑";font-weight:bold;}
	td{width:150px;height:30px;border:1px #C0C0C0 solid;font-weight:bold;}
	.partable{margin:0 auto;padding-top:8px;width:615px;}
	.pictrue{width:400px;height:300px;float:left;padding:12px 20px;border-right:#CCC solid 1px;}
	.right_bar{float:right;padding:6px 20px;margin-right:55px;}
	#introduce{border:#CCC solid 1px;width:100%;height:350px;margin-top:6px;}
	.pro_hearline{width:100%;background-color:#ccc;height:30px;margin-top:10px;}
	.pro_hearline p{line-height:30px;padding-left:8px;font-size:18px;font-family:"微软雅黑";font-weight:bold;color:#FFF;}
	b{color:#009;}
	.info{list-style:none;}
	.info li{line-height:34px;font-weight:bold;}
</style>
</head>

<body>
	<div id="container">
    	<!--头部部分-->
		<div id="header">
          	<img src="../images/logo.png" />
        </div>
     <!--导航部分-->
        	<div id="nav">
            	<ul>
                	<li><a href="../index.html">首页</a></li>
                  	<li><a href="../Template/wall.html">背景墙</a></li>
                    <li><a href="#">产品参数</a></li>
                    <li><a href="../Template/aboutus.html">关于我们</a></li>
                </ul>
            </div>
        
        <!--显示-->
        <div id="listdetails">
            	  <div class="par_title"><p>移动式柴电搅拌车载泵技术参数</p></div>
                  <div class="partable">
                      <table>
                            <tr id="par_lineheader">	
                                <td>输送泵项目</td>
                                <td>型号/参数</td>
                                <td>输送泵项目</td>
                                <td>型号/参数</td>
                            </tr>
                            <tr>	
                                <td>理论水平输送距离</td>
                                <td>200米</td>
                                <td>强制搅拌型号</td>
                                <td>JS500-750</td>
                            </tr>
                            <tr>	
                                <td>理论垂直输送距离</td>
                                <td>80米</td>
                                <td>汽车底盘品牌</td>
                                <td>重汽王牌</td>
                            </tr>
                            <tr>	
                                <td>最大理论输送量</td>
                                <td>50m³/h</td>
                                <td>支腿形式</td>
                                <td>液压顶升式</td>
                            </tr>
                            <tr>	
                                <td>最大理论出料口压力</td>
                                <td>13Mpa</td>
                                <td>允许塌落度</td>
                                <td>14-23cm</td>
                            </tr>
                              <tr>	
                                <td>泵送发动机厂家</td>
                                <td>潍柴倒依茨</td>
                                <td>液压油箱容积</td>
                                <td>300升</td>
                            </tr>
                            <tr>	
                                <td>泵送发动机型号</td>
                                <td>WP4D66E201</td>
                                <td>输送缸缸径</td>
                                <td>φ200mm</td>
                            </tr>
                             <tr>	
                                <td>液压油路形式</td>
                                <td>三泵三回路</td>
                                <td>泵机润滑方式</td>
                                <td>集中自动润滑</td>
                            </tr>
                             <tr>	
                                <td>分配伐类型</td>
                                <td>S阀管</td>
                                <td>出料口管径</td>
                                <td>φ180mm</td>
                            </tr>
                            <tr>	
                                <td>系统最大压力</td>
                                <td>32Mpa</td>
                                <td>搅拌机总功率</td>
                                <td>24KW</td>
                            </tr>
                            <tr>	
                                <td>允许最大骨料粒径</td>
                                <td>卵石<=40碎石<=35毫米</td>
                                <td>最大搅拌理论方量</td>
                                <td>>=18-25kw³/h</td>
                            </tr>
                      </table>	
                    </div>
                 
        </div>
        <div class="pro_hearline"><p>移动式柴电搅拌车载泵详情</p></div>
        <div id="introduce">
                <div class="right_bar">
                    <h3><b>■</b>产品特点</h3>
                    <ul class="info">
                        <li>知名品牌强制搅拌机，性能更卓越。</li>
                        <li>结构优良，日常维修保养更方便。</li>
                        <li>微电脑(plc) 控制更安全可靠。</li>
                        <li>采用了三泵三回路、恒功率控制等先进技术，设备強劲有力。</li>
                        <li>品牌动力马力强劲，环保节能。</li>
                        <li>富余发电量可外接其它电源(振动泵.水泵)</li>
                        <li>应用广泛，合格商品混凝土轻松泵送20-25层高。</li>
                        <li>名牌底盘性能成熟可靠、驾驶舒适、维护网络完善等优点。</li>
                        <li>名牌输送油缸，且有高低压切换装置，能适应更高求应用。</li>
                    </ul>
                </div>
                
               <div id="picBox" class="pictrue">
                    <div class="pic">
                        <ul>
                            <li><img src="../images/banner1.jpg" width="400px;" height="300px"/></li>
                            <li><img src="../images/banner2.jpg" width="400px;" height="300px"/></li>
                            <li><img src="../images/banner3.jpg" width="400px;" height="300px"/></li>
                            <li><img src="../images/banner4.jpg" width="400px;" height="300px"/></li>
                        </ul>
                    </div>
              </div>

        </div>
        
        
        
        <!--底部-->
        <div id="footer">
        		<div class="footerlogo">
                </div>
                <div class="Contact">
                	<h3><strong style="color:#F00">地址:</strong>湖北省随州市曾都区经济开发区世纪大道77号</h3>
                    <h3 class="active">欢迎来电:15826713909</h3>
                </div>
        </div>
    </div>
</body>
</html>
