<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>湖北润力润之星移动式柴电搅拌泵车</title>
<link href="../css/wall.css" rel="stylesheet" type="text/css" />
<link href="../css/connectwall.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
    	<!--头部部分-->
		<div id="header">
          	<img src="../images/logo.png" />
        </div>
     <!--导航部分-->
        	<div id="nav">
            	<ul>
                	<li><a href="../index.html">首页</a></li>
                  	<li><a href="#">背景墙</a></li>
                    <li><a href="detail.html">产品参数</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
   
   		<div id="h1"><h1>移动式柴电搅拌泵车</h1></div>
        <div id="imgbox">
            <div id="box">
                <img src="../images/banner1.jpg" class="pic1" />
                <img src="../images/banner2.jpg" class="pic2"/>
                <img src="../images/banner3.jpg" class="pic3"/>
                <img src="../images/banner4.jpg" class="pic4"/>
                <img src="../images/banner2.jpg" class="pic5"/>
                <img src="../images/banner3.jpg" class="pic6"/>
                <img src="../images/banner4.jpg" class="pic7"/>
             </div>
        </div>
        
         <div id="footer">
        		<div class="footerlogo">
                </div>
                <div class="Contact">
                	<h3><strong style="color:#F00">地址:</strong>湖北省随州市曾都区经济开发区世纪大道77号</h3>
                    <h3 class="active">欢迎来电:15826713909</h3>
                </div>
        </div>
    </div>
</body>
</html>
